* {
    background-color: rgb(30, 33, 61);
}

h1, h3, hr{
    color: rgb(0, 225, 255)
}
p{
    color: rgb(220, 220, 220)
}
p {
    margin-left: 2%;
}
img {
    border-radius: 5%;
}
#my-image {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}


